/*Create a new file called "main.css"
*Add a link element to the head of your index.html file
<link rel="stylesheet" href="main.css" type="text/css">
*Edit the main.css file
*add a declaration for each element in the body of your index.html file.
*add properties to style the background color of each element.
*add properties to style the border of each element.
*add properties to style the font and text of each element.
*Use at least 20 different properties. Include a list of these 20 at the TOP of your main.css file as a css comment.
*Use at least 4 different units to set sizes of various aspects of your webpage.
*Go learn something from 2 classmates; add a comment to your main.css file that describes what you learned.
*View your index.html in the development server.
*Validate your index.html file.
*Validate your main.css file.
*Copy this list of requirements and paste it into the top of your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
*Upload to the production server with sftp.
*View your index.html in the production server*/
/*All the properties I used, 1.Font-family 2.color 3.font-size 4.background-color 5.border 6.border-left-color 7.text-align 8.transform 9.direction 10.border-bottom-style 11.border-left-width 12.padding 13.border-style 14.border 15.font-style 16.min-width  18.text-shadow 19.font-variant 20.opacity*/
/*What I've learned
learn from classmate: Argik used border radius and margin for her CSS file and Warit used Max width and Min height on his CSS file*/ 
html
{
	background-color:lightblue ;
}
	
header {
	font-family:arial;
	color:red;
	font-size:60px;
	background-color:black;
	border:solid 25px yellow;
	border-left-color:#99FF33;
	border-left-style:dashed;
	border-top-color:#FF00FF;
	border-top-style:inset;
	border-bottom-color:orange;
	border-bottom-style:outset;
}
h1 {
	font-family:courier new;
	color:white;
	font-size:50px;
	font-style:italic;
	background-color:blue;
	border:dashed 10px black;
	border-left-width:60px;
	border-bottom-width:70px;
	text-align: center;
	font-size: 20pc;
}
nav {
	font-family:Times New Roman;
	color:yellow;
	font-size:30px;
	background-color:yellow;
	border:inset 7px black;
}
main {
	font-family:arial;
	color:purple;
	font-size:30px;
	background-color:#FF00FF;
	border:outset 50px red;
	border-style:dotted solid double;
	border-left-color:yellow;
	border-right-color:green;
	border-top-color:#99FF33;
	border-bottom-style:dotted;
	border-top-style:groove;
	border-left-style:dashed;
	font-size: 5.9vw; 
}
h2 {
	font-family:impact;
	color:black;
	font-size:40px;
	font-style:oblique;
	background-color:purple;
	border:dotted 10px pink;
	border-style:dotted solid double dashed;
	border-left-color:red;
	border-right-color:#00FFFF;
	border-top-color:#ff0066;
	border-bottom-color:#00ccff;
	font-size: 2vmin;
	opacity: 0.9;
	min-width: 1px;
	transform: rotate(-7deg); 
}
p {
	font-family:times new roman;
	color:orange;
	font-size:30px;
	font-weight:bolder;
	background-color:yellow;
	border:dashed 15px blue;
	border-top-color:#00cc66;
	border-bottom-style:solid;
	border-bottom-color:#00ffff;
	border-left-style:groove;
	border-right-style:ridge;
	border-top-width:50px;
	padding: 10px;
	text-shadow: 1px 1px #ff0000;
	direction: rtl;
}
footer { 
	font-family:arial black;
	color:#FF00FF;
	font-size:25px;
	background-color:blue;
	border:double 30px #99FF33;
	border-left-color:#66ffcc;
	border-right-color:#FF00FF;
	border-bottom-style:groove;
	border-left-style:solid;
	border-top-style:inset;
	border-bottom-width:60px;
	font-variant:small-caps;
}





