h1 {
background-color: LightCyan ;
border-bottom-style:dashed;
border-bottom-color:red;
border-bottom-width:10px;
color:red;
font-family:times new roman;
font-style:italic;
}
body {
    background-color: salmon
}
p {
background-color:LightCyan
font-family:;
font-style:italic;
color:black
line-height:20;
}

